body {
    margin: 0;
}
section {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 60px;
}

/*NAV MENU*/

.navbar {
    background-color: transparent;
    border: transparent;
}
.navbar-default .navbar-brand {
    font-family: 'Droid Serif', serif;
    font-style: italic;
    color: white;
    font-size: 28px;
}
.nav.navbar-nav.navbar-right li a {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
}
.navbar-default {
    transition: all 0.4s;
    background-color: transparent;
    border: 0;
}
.navbar-default .navbar-right li a:hover,
.navbar-default .navbar-brand:hover {
    color: #0ED8D6;
}
.navbar-default.nav-colored {
    background-color: rgba(100, 170, 170, 0.5);
}
.navbar-default.nav-colored .navbar-right li a:hover,
.navbar-default.nav-colored .navbar-brand:hover{
    color: #333;
}


/*OBRAZEK I NAGŁÓWEK*/

header {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/header/pictures_on_the_wall.jpg);
    background-size: cover;
    height: 100vh;
    top: 0;
    position: relative;
}
#main-header {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
    line-height: 10;
    transform: translateY(-50%);
}
h2 {
    font-family: 'Droid Serif', serif;
    font-style: italic;
    font-size: 50px;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 2;
}

/*SECTION SERVICES*/

#services .container h1 {
    font-size: 45px;
}
#services .container h2 {
    font-size: 15px;
    padding-bottom: 40px;
    color: #777777;
}
#services .fa {
    background-color: #0ed8d6;
    color: white;
    font-size: 50px;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    text-align: center;
    line-height: 80px;
    border-style: solid;
    border-color: #0ed8d6;
    transition: all 0.5s;
}
#services .fa:hover {
    background-color: white;
    color: #0ed8d6;
    transform: rotate(360deg);
}
#services .serv {
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    font-weight: bold;
}
#services p {
    font-family: 'Roboto Slab', serif;
    color: #777777;
}

/*SECTION PORTFOLIO*/

#portfolio h1 {
    font-size: 45px;
}
#portfolio h2 {
    font-size: 15px;
    margin-bottom: 60px;
}
#portfolio h3 {
    font-family: 'Montserrat', sans-serif;
}
#portfolio p {
    font-family: 'Roboto Slab', serif;
    color: #777777;
}
#portfolio {
    background-color: #f7f7f7;
}
#portfolio .single-portfolio-item {
    background-color: white;
    margin-bottom: 20px;
}
#portfolio .portfolio-image-container {
    height: 300px;
    overflow: hidden;
}
#portfolio .portfolio-image-container .portfolio-image {
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: all .3s;
}
#portfolio .portfolio-image-container .portfolio-image:hover {
    transform: scale(1.2);
}
#portfolio-item-1 {
    background-image: url('../img/portfolio/chestnut_on_bracket.jpg');
}
#portfolio-item-2 {
    background-image: url('../img/portfolio/chaotic_paint.jpg');
}
#portfolio-item-3 {
    background-image: url('../img/portfolio/box_of_cookies.jpg');
}
#portfolio-item-4 {
    background-image: url('../img/portfolio/child_with_blue_paint.jpg');
}
#portfolio-item-5 {
    background-image: url('../img/portfolio/typing_on_laptop.jpg');
}
#portfolio-item-6 {
    background-image: url('../img/portfolio/house_with_blue_doors.jpg');
}
#portfolio .portfolio-image-container .portfolio-image .portfolio-image-mask {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(14, 216, 214, 0.85);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
}
#portfolio .portfolio-image-container .portfolio-image .portfolio-image-mask:hover {
    opacity: 1;
}
#portfolio .portfolio-image-container .portfolio-image .portfolio-image-mask .fa {
    position: absolute;
    color: white;
    font-size: 3em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s;
}

/*SECTION TEAM*/

#team .container h1 {
    font-size: 45px;
}
#team .container h2 {
    font-size: 15px;
}
#team img {
    width: 60%;
    height: 60%;
    border-radius: 50%;
    padding: 30px;
}
#team .container .row .members .social a,
footer .container .row .social a {
    height: 45px;
    width: 45px;
    font-size: 2em;
    background-color: #222222;
    color: white;
    border-radius: 50%;
    display: inline-block;
    line-height: 45px;
    transition: all 0.5s;
    margin: 0 5px;
}
#team .container .row .members .social a:hover,
footer .container .row .social a:hover {
    background-color: #0ed8d6;
}
#team .container p {
    margin-top: 40px;
    font-size: 15px;
    font-family: 'Droid Serif', serif;
}

/*SECTION CONTACT US*/

#contact {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/footer/world-map.jpg);
    background-size: cover;
}
#contact .container h1 {
    font-size: 45px;
    color: white;
}
#contact .container h2 {
    font-size: 15px;
    color: white;
    margin-bottom: 40px;
}
#contact .container .form input,
#contact .container .form textarea {
    width: 100%;
    margin-bottom: 25px;
    line-height: 40px;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
}
#contact .container .form input {
    height: 40px;
}

/*FOOTER*/

footer {
    background-color: white;
    text-align: center;
    height: 70px;
    line-height: 70px;
}
footer .footer-copy p {
    margin: 0;
    font-family: 'Roboto Slab', serif;
    color: #777777;
}
footer .footer-policy a {
    color: #777777;
    text-decoration: none;
    padding: 10px;
    font-family: 'Roboto Slab', serif;
}